* {
    box-sizing: border-box;
}

img {
    height: auto;
    width: 100%;
}

body {
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.navigation {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E3EDEF;
    transition: all .2s ease-in-out;
    padding: 15px;
}

.navigation__header {
    display: flex;
    margin: 0 90px;
}

.navigation__header__title {
    color: #042825;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 800;
    padding: 5px;
    text-align: start;
    cursor: pointer;

}

.navigation__header__logo__title {
    text-decoration: none;
    color: white;

}

.navigation__navbar {
    margin: 0 90px;
}

.navigation__navbar_link {
    display: flex;
    list-style-type: none;
}

.navigation__navbar_link__element {
    padding: 0 25px;

}

.navigation__navbar_link__element__link-button {
    text-decoration: none;
    color: #042825;
    font-size: 15px;
    font-weight: 450;
    font-weight: 600;
    padding: 5px;


}

.navigation__navbar_link__contact-link__contact-button {
    background-color: #042825;
    color: white;
    padding: 8px 15px;
    border-radius: 25px;
    scroll-behavior: smooth;
}

.about {
    display: flex;
    gap: 15%;
    width: 1080px;
    margin-inline: auto;
    padding-block: 32px;

}

.about__picture__image {
    width: 450px;
}

.pictures {
    margin: 100px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.pictures__image__item {
    width: 350px;
}

.my-stack {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    justify-content: center;
}

.my-stack__header,
.my-stack__statement {
    margin: 30px;

}

.my-stack__statement__item {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 25px;
    justify-content: start;

}

.my-stack__header__string {
    font-size: 2.5rem;
}

.box1 {
    grid-area: 1/1/2/4;
    color: #042825;
    width: 100%;
}

.box1>h4 {
    font-weight: bolder;
    color: #042825;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.box1>h6 {
    font-weight: bold;
    color: #042825;
    font-family: 'Roboto', sans-serif;
}

.box2 {
    width: 530px;
    grid-area: 2/3/3/3;
    color: #042825;

}

.my-stack__statement__item__box__heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
    width: fit-content;
    cursor: pointer;
    transition: transform 0s, border-bottom 0.4s linear;
}

.biography {
    display: grid;
    grid-template-columns: 1280px;
    background-color: #042825;
    justify-content: center;
    color: white;
    grid-row-gap: 50px;
}

.grid-5>div {
    margin: 30px;
}

.biography__statement__item {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 50px;
    justify-content: center;
    padding-block: 48px;
}

.contact {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
    padding: 25px;
    align-content: center;
    margin: 120px 0;


}

.contact__header__heading {
    text-align: center;
    font-weight: bolder;
    color: #042825;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;

}

.contact__header__title {
    font-weight: bold;
    color: #042825;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.contact__contact-form {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    align-content: center;
    border: 1px solid #b8c4c6ab;
    background-color: white;
    width: 400px;
    padding: 50px 0;
}

.contact__contact-form__element {
    margin-bottom: 20px;
    width: 350px;
    height: 48px;
    border: 1px solid #B8C4C6;
    border-radius: 3px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

.contact__contact-form__element-submit-button {
    background-color: #042825;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.footer-statement {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    height: 100px;
    background-color: white;
    align-content: center;
    background-color: #E3EDEF;
    border-top: 1px solid #b8c4c621;
}

.footer-statement__brand {
    color: #B8C4C6;

}

.footer-statement__social-media__item {
    margin: 0 10px;
    font-size: 25px;
    color: #263535;
    transition: transform 0.3s;
}

/*************************HOVER****************************/
.navigation__navbar_link__contact-link__contact-button:hover {
    background-color: #233632;
}

.footer-statement__social-media__item:hover {
    transform: translateY(-5px);
}

.my-stack__statement__item__box__heading:hover {
    border-bottom: 1px solid black;
}

.contact__contact-form__element-submit-button:hover {
    background-color: #233632;
}

@media screen and (max-width: 1200px) {
    .navigation {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        margin: 0px;
        align-items: center;
    }

    .navigation__header {
        grid-area: 1/1/2/2;
    }

    .navigation__navbar {
        display: flex;
        grid-area: 1/2/2/3;
    }

    .navigation__navbar_link__element {
        padding: 0px 20px;
    }

    .about {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-content: center;
        grid-column-gap: 80px;
        padding: 0px 50px;
    }

}

@media screen and (max-width: 768px) {
    .navigation {
        width: 100%;
        display: flex;
        margin: 0px;
        justify-content: space-between;
        padding: 0.9 rem;


    }

    .navigation__header {
        margin: 0px;
    }

    .navigation__navbar_link {
        padding: 0rem 1.1rem;
    }


    .navigation__header__title {
        display: none;
    }

    .about {
        display: flex;
        max-width: 375px;
        width: 70%;
        flex-direction: column;
        margin: 0px auto;
        padding: 0px;
    }

    .about__picture__image {
        width: 100%;
    }

    .pictures {
        display: none;
    }

    /*****************************MY STACK******************************/
    .my-stack {
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        grid-gap: 0px;

    }

    .my-stack__header {
        margin: 0px 0px;
        text-align: center;
    }

    .my-stack__header__string {
        font-size: 2.5rem;
        font-weight: bold;
        padding-bottom: 2rem;
    }

    .my-stack__statement {
        margin: 0px auto;
    }

    /********************************BİYOGRAFİ********************************/
    .biography {
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 0px auto;

    }

    .biography__header {
        width: 65%;
        margin: 0px auto;
    }

    .biography__header__string {
        font-size: 2.5rem;
    }

    .biography__statement__item {
        width: 65%;
        margin: 0px auto;
    }

    /********************************CONTACT********************************/
    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        padding: 3.5rem 0rem;

    }

    .contact__header__heading {
        font-size: 2.5rem;
    }

    .contact__contact-form {
        width: 100%;
    }

    .footer-statement {
        width: 100%;
    }

}

@media screen and (max-width: 375px) {
    .navigation {
        width: 100%;
        display: flex;
        margin: 0px;
        justify-content: space-between;
        padding: 0.9 rem;
        align-content: center;

    }

    .navigation__header {
        margin: 0px;

    }

    .navigation__navbar_link {
        padding: 0rem 1.1rem;
    }

    .navigation__navbar {
        margin: 0px 0px;
    }

    .navigation__header__title {
        display: none;
    }

    .about {
        display: flex;
        max-width: 375px;
        width: 70%;
        flex-direction: column;
        margin: 0px auto;
        padding: 0px;
    }

    .about__picture__image {
        width: 100%;
    }

    .pictures {
        display: none;
    }

    /*****************************MY STACK******************************/
    .my-stack {
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        grid-gap: 0px;

    }

    .my-stack__header {
        margin: 0px 0px;
        text-align: center;
    }

    .my-stack__header__string {
        font-size: 2.5rem;
        font-weight: bold;
        padding-bottom: 2rem;
    }

    .my-stack__statement {
        margin: 0px auto;
    }

    /********************************BİYOGRAFİ********************************/
    .biography {
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 0px auto;

    }

    .biography__header {
        width: 65%;
        margin: 0px auto;
    }

    .biography__header__string {
        font-size: 2.5rem;
    }

    .biography__statement__item {
        width: 65%;
        margin: 0px auto;
    }

    /********************************CONTACT********************************/
    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        padding: 3.5rem 0rem;

    }

    .contact__header__heading {
        font-size: 2.5rem;
    }

    .contact__contact-form {
        width: 100%;
    }

    .footer-statement {
        width: 100%;
        display: flex;
    }
}